In [1]:
from utility_algo import *
import pandas as pd
import numpy as np
from itertools import combinations
from operator import itemgetter

In [2]:
# This list of set are the result from the algorithms
# This notebook only handles how to list out group similarity

groups = [{9, 30, 47, 57, 73, 84, 103},
 {4, 20, 34, 64, 100, 105, 107},
 {3, 5, 11, 29, 39, 59, 108},
 {10, 12, 25, 51, 52, 56, 117},
 {1, 18, 27, 54, 79, 82, 118},
 {35, 65, 66, 88, 96, 109},
 {17, 37, 69, 80, 93, 98},
 {22, 45, 46, 63, 68, 70},
 {8, 13, 23, 31, 71, 75},
 {16, 53, 67, 77, 94, 114},
 {7, 41, 48, 86, 87, 95},
 {21, 36, 50, 60, 83, 119},
 {32, 44, 76, 85, 89, 115},
 {26, 49, 81, 90, 112, 113},
 {14, 55, 62, 74, 91, 116},
 {0, 6, 58, 97, 104, 106},
 {2, 19, 28, 33, 43, 99},
 {40, 42, 72, 78, 101, 110},
 {15, 24, 38, 61, 92, 102, 111}]

# For inverted index, what are some fields that are considered
ii_input = [
#    ('grad_yr', 'MULT'),
    
    # career
    ('industry', 'SINGLE'),
    ('title', 'SINGLE'),
    
    # background
    ('school', 'MULT'),    
    ('subject', 'SINGLE'),
    ('zip', 'SINGLE'),
    ('country', 'SINGLE'),
    ('language', 'MULT'),
    
    # priority
    ('priority_tags', 'MULT')
]

data = pd.read_csv('data/sim_data_120_22Apr2020.csv')

data = data.replace('\n','', regex=True)

data = data.reset_index()

data.head()

,index,name,school,subject,grad_yr,zip,industry,title,country,language,connected,priority_tags
0,0,青山 さゆり,['South China Normal University'],Biology,[2020],94102,Banking,Student,France,['Spanish' 'Korean'],[112 119 20 98 31 93],"['tag_1', 'tag_12']"
1,1,傅红梅,['University of California Berkeley'],Mechanical Engineering,[2014],94103,Banking,UX Designer,United States,['Spanish' 'Cantonese'],[118 38 112 11],"['tag_18', 'tag_5', 'tag_15']"
2,2,李红霞,['University of Chicago' 'University of Chicago'],Graphic Design,[2018 2014],94108,Management Consulting,UX Designer,China,['Spanish'],[],[]
3,3,Daniel Wagner,['University of Hong Kong'],Law,[2012],94104,Computer Software,Product Manager,United States,['Chinese' 'Korean' 'Cantonese'],[104 46 17 20 12 20 7 45 103 109 6 22],"['tag_1', 'tag_7']"
4,4,Cristian Santos,['University of Michigan Ann Arbor'],Business Administration and Management,[2020],94101,Financial Services,Product Manager,China,['Korean' 'Japanese'],[107 95 74 85 21 106 88 21 91 28 12 ...,['tag_16']

In [3]:
def icebreaker_similarly(data, ii_input, group_set):
    tmp = combined_inverted_index(data.loc[data['index'].isin(list(group_set))], ii_input, uid_field_name="index")
    
    result = list()
    for col in tmp.keys():
        for key in tmp[col].keys():
            if len(tmp[col][key]) > 1:
                result.append([col, key, len(tmp[col][key])])

    return sorted(result, key=itemgetter(2), reverse=True)

In [4]:
def icebreaker_sentense(icebreaker_list):
    for item in icebreaker_list:
        if item[0] == 'priority_tags':
            print(f'{item[2]} of you selected {item[1]}')
        elif item[0] == 'language':
            print(f'{item[2]} of you know {item[1]}')
        elif item[0] == 'zip':
            print(f'{item[2]} of you live around {item[1]}')
        elif item[0] == 'industry':
            print(f'{item[2]} of you work in {item[1]} industry')
        elif item[0] == 'school':
            print(f'{item[2]} of you studied in {item[1]}')
        elif item[0] == 'country':
            print(f'{item[2]} of you have stayed in {item[1]}')
        elif item[0] == 'subject':
            print(f'{item[2]} of you studied {item[1]}')
        elif item[0] == 'title':
            print(f'{item[2]} of you are working as {item[1]}')

In [5]:
icebreaker_sentense(icebreaker_similarly(data, ii_input, groups[0]))

7 of you selected
6 of you know Spanish
5 of you selected tag_1
4 of you live around 94110
4 of you know Japanese
3 of you work in Financial Services industry
3 of you studied in University of Chicago
3 of you have stayed in UK
3 of you know Korean
2 of you work in Accounting industry
2 of you are working as UX Designer
2 of you are working as Product Manager
2 of you studied in Southwestern University of Finance and Economics
2 of you studied in The Chinese University of Hong Kong
2 of you studied Chemistry
2 of you live around 94105
2 of you know Chinese
2 of you selected tag_11